<!--<!DOCTYPE html>
<html>

<head>
    <title>Edit Category</title>
</head>

<body>-->
{% extends "main.html" %} {% block content %} {% include "header.html" %}
<!--edit item-->
<div>
    <h3>Edit {{category_to_edit.name}} here</h3>
    <form action="{{url_for('edit_category', category=category_to_edit.name)}}" method="POST">

        <p>Name:</p>
        <input type="text" size="30" name="editedCategoryName" placeholder="{{category_to_edit.name}}">

        <input type="submit" value="Save">

        <a href="{{url_for('show_categories')}}">Cancel</a>

    </form>
</div>
<br>
<script>
    $("#login").css({
        "display": "none"
    });
</script>
{% endblock %}

<!--</body>

</html>-->