<!--<!DOCTYPE html>
<html>

<head>
    <title>Edit Item</title>
</head>

<body>-->
{% extends "main.html" %} {% block content %} {% include "header.html" %}
<!--edit item-->
<div>
    <h2>{{category_selected.name}}</h2>
    <h5>Edit Details of {{item_to_edit.name}} here</h5>
    <form action="{{url_for('edit_item', category=category_selected.name, item=item_to_edit.name)}}" method="POST">

        <p>Name:</p>
        <input type="text" size="30" name="editedItemName" placeholder="{{item_to_edit.name}}">

        <p>Description:</p>
        <input type="text" size="60" name="editedItemDescription" placeholder="{{item_to_edit.description}}">

        <input type="submit" value="Save">

        <a href="{{url_for('specific_category', category=category_selected.name)}}">Cancel</a>

    </form>
</div>
<br> {% endblock %}

<!--</body>

</html>-->